<!-- 
<section id="footer" >
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left " style="margin-left: 10% ;">
            <div >
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div style="margin-left: 45%; margin-top: 2%;">
                
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook "></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
                <br>
                <br>


                <div class="row" style="margin-bottom: 0%; ;">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p><a href=#>Get Fit</a> is a Registered MSP/ISO of Babu & Sons Inc , India </p>
                        <p class="h6"> All right Reversed.<a class="text-green ml-2" href=# target="_blank">Get Fit</a></p>
                    </div>
                    
                </div>
            </div>
            
        </div>
        	
        	
    </div>
</section> -->


<!-- <section id="footer" class="row text-center text-xs-center text-sm-left text-md-left ">

   

        <hr>


        <hr>


    



</section> -->


<!-- <footer class="footer-basic-centered">


    <div class="socials">

        <p style="font-family: gentona;">Social Links</p>
    </div>

    <hr>

    <div class="discover">
        
    </div>

    <hr>

    <div class="tc">
        
        </div>

</footer> -->

<!-- 
<footer class="footer-v2">

    <div class="max-width">
        <div class="footer">

            <div class="row social">
                <div class="title">
                    Social
                </div>

                <a href=""><img src="C:\Users\KashyapBabu\Desktop"></i>
                </a>

            </div>


        </div>


    </div>
</footer> -->



<!-- Footer -->










<footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a routerLink="/features" routerLinkActive = "active">Features</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item" routerLinkActive = "active">
                  <a routerLink="/aboutus">About Us</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item" routerLinkActive = "active">
                  <a routerLink="/contactus">Contact Us</a>
                </li>
                
              </ul>
              <br>
              
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fa fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fa fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>

            
          </div>
          <p class=" small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
      </footer>